:root {
  --gap: 1rem;
  --pad: 1rem;
  --marg: 1rem;
  --primary: rgb(8, 7, 7);
  --primari: aliceblue;
  --color: rgba(9, 119, 215, 0.939);
  --font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans" sans-serif;
}


.seccion-conte {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .cabecera {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .div-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .article {
    margin: 0 auto;
  }

  .cabe {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    flex-direction: row;
    align-items: center;
  }

  .search {
    flex-direction: column;
    align-items: center;
  }

  .sub-menu {
    flex-direction: row;
    justify-content: space-between;
  }

  .submenu-nav {
    flex-direction: row;
    align-items: center;
  }

  .principal {
    display: flex;
    /* min-height: 100vh; */
  }

  .sidebar-conte {
    flex-direction: column;
    align-items: center;
  }

  .sidebar-li {
    flex-direction: column;
    align-items: center;
  }

  .article {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .div-pie {
    display: flex;
    align-items: center;
  }

  .video-arti {
    margin: 0 auto;
  }

  .pie {
    position: sticky;
    bottom: 0;
    z-index: 10;
  }
}
