:root {
  --gap: 1rem;
  --pad: 1rem;
  --marg: 1rem;
  --primary: #0f0f0f;
  --primari: aliceblue;
  --color: rgba(9, 119, 215, 0.939);
  --font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Open Sans" sans-serif;
}

.contendor-principal {
  display: grid; 
  grid-template-rows: auto auto auto; 
  height: 100%;
  width: 100%;
}

.cabecera {
  background-color: var(--primary);
  position: sticky;
    top: 0;
    z-index: 10;
}

.cabe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
}

h2 {
  color: #fff;
  margin-right: 1rem;
}

.menu-btn {
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: var(--primary);
  border: 0;
  border-radius: 50%;
  box-sizing: border-box;
}

.btn-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  position: relative;
}

.menu-btn:hover {
  background-color: #9a9a9a;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

li {
  list-style: none;
}

.div-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: none;
}

.btn {
  border: 1px solid rgb(127, 125, 125);
  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  cursor: pointer;
  background-color: #3e3d3d;
  border-bottom-color: rgb(48, 48, 48);
  border-left-color: rgb(48, 48, 48);
  border-top-color: rgb(48, 48, 48);
  border-right-color: rgb(48, 48, 48);
}

.btn-micro {
  display: flex;
  justify-content: center;
  border: 0;
  background-color: #3e3d3d;
  border-radius: 50%;
  margin: 0 0.6rem;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-micro:hover {
  background-color: #9a9a9a;
}

.icon-mic img {
  width: 32px;
}

.btn-crea {
  display: flex;
  justify-content: center;
  background-color: #3e3d3d;
  border-radius: 2rem;
  margin-right: 0;
  border: 0;
  cursor: pointer;
}

.btn-crea {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bolder;
}

.btn-crea:hover {
  background-color: #9a9a9a;
}

.btn-noti {
  display: flex;
  justify-content: center;
  padding: 0.3rem 0.4rem;
  border-radius: 2rem;
  margin-right: 1rem;
  border: 0;
  cursor: pointer;
  background-color: var(--primary);
}

.btn-noti:hover {
  background-color: #9a9a9a;
}

.btn-login {
  display: flex;
  justify-content: center;
  border: 0;
  background-color: #14ae6e;
  border-radius: 50%;
  margin-right: 0rem;
  cursor: pointer;
}

.sidebar1 {
  display: none;
}

.sidebar-principal {
  display: none;
}

.div-h4 {
  display: none;
}

.div-section {
  background-color: var(--primary);
  width: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
}

.secci-nav {
  text-wrap: nowrap;
  white-space: nowrap;
  margin: 0 1.2rem;  
  
}

.nav-secci {
  padding: 0.8rem 0;
  min-width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  white-space: nowrap;
  gap: 0.6rem;
  align-items: center;
  position: sticky;
  top: 0;
  bottom: 0;
  
}

.submen-a {
  text-decoration: none;
  color: #f1f1f1;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400; 
}

.submen-a {
  height: 32px;
  /* min-width: 5px;   Esta propiedad estaba haciendo que el submenu se me
  ropiera */
  padding: 0.5rem 0.8rem;
  align-items: center;
  position: relative;
  max-width: min-content;
}

.secci-arti {
  background-color: var(--primary);
}

.secci-arti {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secci-arti {
  padding-bottom: var(--pad);
  font-weight: var(--font-weight);
}

.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
  padding: calc(var(--pad) * 2);
}

.video-arti {
  border: 1px solid #000;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  cursor: pointer;
}

.video-arti video {
  max-width: 100%;
  min-height: auto;
  object-fit: cover;
}

.video-arti .div-article {
  padding: 0.5rem;
}

.video-arti h4,
.video-arti p {
  text-align: left;
  color: #aaaaaa;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  white-space: normal;
}

.video-arti h3 {
  text-align: left;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  white-space: normal;
  text-overflow: ellipsis;
  color: #fff;
}

.main {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .cabecera {
    width: 100%;
    
  }

  hr {
    display: none;
  }

  .cabe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.8rem;
    
  }

  .div-search {
    max-width: 100%;
  }

  .btn {
    padding: 0px 12px;
  }

  .btn .icon-btn {
    width: 35px;
    height: 35px;
  }

  .btn-micro {
    padding: 10px 10px;
  }

  .btn-micro .icon-mic {
    width: 22px;
    height: 22px;
    display: flex;
  }

  .btn-crea {
    padding: 10px 10px;
    display: flex;
    letter-spacing: normal;
  }

  .btn-crea .icon-mas {
    width: 22px;
    height: 22px;
    display: flex;
  }

  .btn-noti {
    padding: 10px 10px;
    display: flex;
    letter-spacing: normal;
  }

  .btn-noti .icon-noti {
    width: 22px;
    height: 22px;
    display: flex;
  }

  .btn-login {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: normal;
    width: 12px;
    height: 12px;
  }

  
  .sidebar {
    display: block;
    padding: 0rem;
    background-color: #0f0f0f;
    color: #fff;   
    
  }

  .sidebar-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding-top: 1.5rem;
  }

  .vid {
    display: none;
  }

  #id-inicio {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    cursor: pointer;
  }

  #inicio-h4 {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 10px;
    line-height: 2rem;
    font-weight: 400;
    padding-left: 0.2rem;
  }

  .img-inicio {
    width: 32px;
    height: 32px;
  }

  .nav-secci {
    flex-direction: row;
    align-items: center;
  }

  .article {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .video-arti {
    margin: 0 auto;
  }

  .search {
    display: flex;
    border: 0px solid rgb(127, 125, 125);
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    background-size: auto;
    text-align: left;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
  }

  .search {
    border-bottom-color: rgb(48, 48, 48);
    border-left-color: rgb(48, 48, 48);
    border-top-color: rgb(48, 48, 48);
    border-right-color: rgb(48, 48, 48);
    text-size-adjust: 100%;
  }

  input::placeholder {
    color: #fff;
  }

  .search:focus {
    outline: none;
    border: 1px solid rgb(12, 110, 230);
  }
 

.secci-arti {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secci-arti {
  padding-bottom: var(--pad);
  font-weight: var(--font-weight);
  background-color: var(--primary);
}

}

@media only screen and (min-width: 992px) {
  .cabecera {
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  hr {
    display: none;
  }

  .cabe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.8rem;
  }
  
  #id-inicio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #inicio-h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
  }

  .sidebar {
    display: flex;
    padding: 0rem;
    background-color: #0f0f0f;
    color: #fff;
  }

  .sidebar-principal {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
    padding: 1rem;
  }

  .vid {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
  }

  .div-h4 {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
  }

  hr {
    display: flex;
    color: #fff;
    width: 100%;
    margin: 20px auto;
  }

  .search {
    display: flex;
    border: 0px solid rgb(127, 125, 125);
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    background-size: auto;
    text-align: left;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
  }

  .search {
    border-bottom-color: rgb(48, 48, 48);
    border-left-color: rgb(48, 48, 48);
    border-top-color: rgb(48, 48, 48);
    border-right-color: rgb(48, 48, 48);
    text-size-adjust: 100%;
  }

  input::placeholder {
    color: #fff;
  }

  .search:focus {
    outline: none;
    border: 1px solid rgb(12, 110, 230);
  }

  .article {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .video-arti {
    margin: 0 auto;
  }

}

@media only screen and (max-width: 600px) {
  .cabe {
    display: flex;
    justify-content: space-between;
  }

  .div-search {
    max-width: 100%;
  }

  .div-h4 {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  .article {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  hr {
    display: none;
  }

  .search {
    display: none;
    padding: 8px 2rem;
  }

  .btn {
    padding: 0px 12px;
  }

  .btn .icon-mic {
    width: 10px;
    height: 10px;
  }

  .btn-micro {
    padding: 10px 10px;
  }

  .btn-micro .icon-mic {
    width: 22px;
    height: 22px;
    display: flex;
  }

  .btn-crea {
    padding: 10px 10px;
    display: flex;

    letter-spacing: normal;
  }

  .btn-crea .icon-mas {
    width: 22px;
    height: 22px;
    display: flex;
  }

  .btn-noti {
    padding: 10px 10px;
    display: flex;
    letter-spacing: normal;
  }

  .btn-noti .icon-noti {
    width: 22px;
    height: 22px;
    display: flex;
  }

  .btn-login {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: normal;
    width: 12px;
    height: 12px;
  }
}

@media only screen and (min-width: 600px) {
  .cabe {
    display: flex;
    justify-content: space-between;
  }

  .div-search {
    max-width: 100%;
  }
  .search {
    padding: 8px 4rem;
  }

  .btn {
    padding: 0px 12px;
  }

  .btn .icon-mic {
    width: 10px;
    height: 10px;
  }

  .btn-micro {
    padding: 10px 10px;
  }

  .btn-micro .icon-mic {
    width: 22px;
    height: 22px;
    display: flex;
  }

  .btn-crea {
    padding: 10px 10px;
    display: flex;
    letter-spacing: normal;
  }

  .btn-crea .icon-mas {
    width: 22px;
    height: 22px;
    display: flex;
  }

  .btn-noti {
    padding: 6px 6px;
    display: flex;

    letter-spacing: normal;
  }

  .btn-noti .icon-noti {
    width: 28px;
    height: 28px;
    display: flex;
  }

  .btn-login {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: normal;
    width: 12px;
    height: 12px;
  }
}
