:root {
  --gap: 1rem;
  --pad: 1rem;
  --marg: 1rem;
  --primary: #0f0f0f;
  --primari: aliceblue;
  --color: rgba(9, 119, 215, 0.939);
  --font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Open Sans" sans-serif;
}

.contendor-principal {
  display: grid;
  grid-template-rows: auto auto auto;
  min-height: 100vh;
}

.cabecera {
  background-color: var(--primary);
  /* padding: 0 8px; */
  /* border: 0 0 ; */
}

.contendor-principal {
  width: 100%;
  cursor: pointer;
}

h2 {
  color: #fff;
  margin-right: 2rem;
}

.div-h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}

.cabe {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  align-items: center;
  padding: 0.4rem 1rem;
}

.menu-btn {
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: var(--primary);
  border: 0;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 8px 8px;
}

.btn-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 0.5rem;  */
  gap: 0.6rem;
  position: relative;
}

.menu-btn:hover {
  background-color: #9a9a9a;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

li {
  list-style: none;
}

.div-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  border: 0px solid rgb(127, 125, 125);
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  /* margin: 0 0 ;  */
  background-size: auto;
  text-align: left;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.search {
  padding: 0.9rem 6rem;
  border-bottom-color: rgb(48, 48, 48);
  border-left-color: rgb(48, 48, 48);
  border-top-color: rgb(48, 48, 48);
  border-right-color: rgb(48, 48, 48);
  text-size-adjust: 100%;
}

input::placeholder {
  color: #fff;
}

.search:focus {
  outline: none;
  border: 1px solid rgb(12, 110, 230);
}

.btn {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(127, 125, 125);
  padding: 0.4rem 1.5rem;
  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  cursor: pointer;
  background-color: #3e3d3d;
  border-bottom-color: rgb(48, 48, 48);
  border-left-color: rgb(48, 48, 48);
  border-top-color: rgb(48, 48, 48);
  border-right-color: rgb(48, 48, 48);
}

.btn-micro {
  display: flex;
  justify-content: center;
  border: 0;
  padding: 0.4rem 0.5rem;
  background-color: #3e3d3d;
  border-radius: 50%;
  margin: 0 0.6rem;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-micro:hover {
  background-color: #9a9a9a;
}

.icon-mic img {
  width: 32px;
}

.btn-crea {
  display: flex;
  justify-content: center;
  padding: 0.2rem 1rem;
  background-color: #3e3d3d;
  border-radius: 2rem;
  margin-right: 0;
  border: 0;
  cursor: pointer;
}

.btn-crea {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bolder;
}

.btn-crea:hover {
  background-color: #9a9a9a;
}

.btn-noti {
  display: flex;
  justify-content: center;
  padding: 0.3rem 0.4rem;
  border-radius: 2rem;
  margin-right: 1rem;
  border: 0;
  cursor: pointer;
  background-color: var(--primary);
}

.btn-noti:hover {
  background-color: #9a9a9a;
}

.btn-login {
  display: flex;
  justify-content: center;
  border: 0;
  padding: 0.8rem 1rem;
  background-color: #14ae6e;
  border-radius: 50%;
  margin-right: 0rem;
  cursor: pointer;
}

.main {
  /* display: flex; */
  min-height: 100vh;
}

.sidebar {
  padding: 0rem;
  background-color: #0f0f0f;
  /* border-bottom: 1px solid #eee; */
  display: none;
  color: #fff;
}

.sidebar-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  padding: 1rem;
}

.vid {
  align-items: center;
  text-align: center;
  gap: var(--gap);
  cursor: pointer;
}

hr {
  color: #fff;
  width: 100%;
  margin: 20px auto;
}

.div-section {
  background-color: var(--primary);
  width: 100%;
}

.secci-nav {
  padding: 0.8rem; 
  text-wrap: nowrap;
  /* display: inline-block; */
  /* white-space: nowrap;  */
}

.nav-secci {
  display: flex;
  /* justify-content: space-between;  */
  align-items: center;
  flex-wrap: nowrap;
}

.submen-a {
  text-decoration: none;
  color: #f1f1f1;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  /* white-space: nowrap; */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}

.submen-a {
  height: 32px;
  min-width: 5px;
  padding: 0.5rem 0.8rem;
  align-items: center;
  position: relative;
  max-width: min-content;
}

.secci-arti {
  background-color: #0f0f0f;
  /* padding: 0.5rem 0.5rem; */
}

.secci-arti {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-right: 0;  */

  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
  /* min-height: 100vh; */
}

.secci-arti {
  padding-bottom: var(--pad);
  font-weight: var(--font-weight);
}

.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
  padding: calc(var(--pad) * 2);
}

.video-arti {
  border: 1px solid #000;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  cursor: pointer;
}

.video-arti video {
  max-width: 100%;
  min-height: auto;
  object-fit: cover;
}

.video-arti .div-article {
  padding: 0.5rem;
}

.video-arti h4,
.video-arti p {
  text-align: left;
  color: #aaaaaa;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  white-space: normal;
}

.video-arti h3 {
  text-align: left;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  white-space: normal;
  text-overflow: ellipsis;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .cabecera {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .cabe {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
  }
  .nav-secci {
    display: inline-block;
    /* flex-direction: row; */
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .main {
    display: flex;
  }

  .nav {
    flex-direction: row;
    align-items: center;
  }

  .nav-secci {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
  }

  .div-search {
    display: flex;
  }

  .sidebar {
    display: block;
    min-height: 100%;
  }

  .sidebar-principal {
    flex-direction: column;
    align-items: flex-start;
    visibility: visible;
  }

  .vid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-secci {
    flex-direction: row;
    align-items: center;
  }

  .article {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .video-arti {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .sidebar {
    width: 250px;
  }
}
