:root {
  --gap: 1rem;
  --pad: 1rem;
  --marg: 1rem;
  --primary: rgb(59, 57, 57);
  --primari: aliceblue;
  --color: rgba(9, 119, 215, 0.939);
  --font-weight: bolder;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  background-color: var(--primary);
  color: var(--color);
  padding: 0;  
  border-bottom: 1px solid rgb(203, 200, 200); 
}

.cabe {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   gap: var(--gap);
}

.nav {
  display: flex;
  gap: var(--gap);
   
}

h2 {
  font-size: 2rem;
  font-weight: var(--font-weight);
  padding-left: var(--pad);

}

.nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: var(--pad);
}

.nava-a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--color);
  /* border: 1px solid red;  */
  border-radius: 0.5rem;
  
}

.nava-a:hover {
  text-decoration: underline;
  background-color: rgb(113, 100, 100);
  color: var(--primari);
}

li {
  list-style: none;
}

/*
.search-div {
  display: flex; 
 flex-direction: column;
 align-items: center;
 gap: var(--gap);
} */

.search {
  padding: 0.5rem 2rem;
  border: 1px solid rgb(11, 100, 244);
  border-radius: 20px;
  font-size: 1rem;
  background-color: #5c5a5a;
  color: var(--primari);
  outline: none; 
  transition: box-shadow 0.2s, background 0.2s;
  box-shadow: 0 2px 8px rgba(33, 151, 201, 0.874);
  margin-right: 0 auto; 
  text-align: left; 
}

.search:hover {
    background-color: #3f3f3f;
  box-shadow: 0 4px 16px rgb(11, 100, 244);
  
}

input::placeholder {
    color: #101010;
}

.sub-menu {
 color: var(--color);
  padding: var(--pad)  

}

.submenu-nav {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;  
    align-items: center;
    /* gap: calc(var(--gap) *2.5); */
    gap: calc(var(--pad) * 1.5);
    margin: 0.5rem auto;
   
}

.submenu-a {
    text-decoration: none;
    color: rgb(244, 243, 247);
    padding: calc(var(--pad) * 0.5);
    border: 1.5px solid rgb(244, 234, 234); 
    border-radius: 0.5rem;
    background-color: rgb(16, 16, 16);  
}

.submenu-a:hover {
background-color: rgb(237, 231, 231);
  color: var(--primary);
}

.sidebar {
  padding: var(--pad);
  background-color: #3f3f3f;
  border-bottom: 5px solid rgb(231, 9, 9);
}

.sidebar-conte {
  display: flex;
  flex-direction: column; 
  /* align-items: center;  */
  /* justify-content: center;  */
  list-style: none;
  gap: var(--gap);
}

.sidebar-conte a {
  text-decoration: none;
  color: var(--primari);
}

.sidebar-conte a:hover {
  color: black;
}

.pie {
  background-color: var(--primary);
  border-top: 1px solid red;
  padding: var(--pad);
}

@media only screen and (min-width: 768px) {
    .cabecera {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .pie {
      position: sticky;
      bottom: 0;
      z-index: 10;
    }

    .cabe  {
      flex-direction: row;
      justify-content: space-between;
    }
     
    .nav {
      flex-direction: row;
      align-items: center;
    }

    .search {
      flex-direction: column;
      align-items: center;
    }

    .sub-menu {
      flex-direction: row;
      justify-content: space-between;
    }

    .submenu-nav {
      flex-direction: row;
      align-items: center;
    }

    .principal {
      display: flex;
    }

    

  .sidebar-conte {
    flex-direction: column;
    align-items: center;
    
  }
}

